 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    font-family: Roboto, sans-serif;
}

.head-wrapper {
    background-color: #1f2937;
    height: 80vh;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-link {
    font-size: 18px;
    color: #CCCFD4;
}

.content {
    font-size: 18px;
    color: #C7CAD0;
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin-right: auto;
}

.navbar {
    margin: auto;
    display: flex;
    width: 75%;
    padding: 20px;
}

.header {
    display: flex;
    width: 75%;
    margin: 100px auto;
    gap: 100px;
    padding: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    flex-grow: 0;
}

.header-image {
    flex-grow: 1;
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.signup {
    background-color: #3882f6;
    font-size: 18px;
    width: 8em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bolder;
    color: #fff;
    border: none;   
}

.information-container {
    text-align: center;
    height: 70vh;
}

.information-header {
    margin: 32px;
    font-size: 24px;
    color: #1f2937;
    font-weight: 800;
}

.information-content {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.box {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: solid 5px #3882f6;
}

.box-text {
    font-size: 21px;
    color: #5C6572;
}

.quote-container {
    height: 70vh;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 800px;
    padding: 3px;
    color: #1F2937;
}

cite {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    margin-left: 500px;
    color: #1F2937;
}

.signup-container {
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 55%;
    background-color: #3882f6;
    border-radius: 10px;
}

.signup-left {
    color: #fff;
}

.signup-right {
    background-color: #3882f6;
    font-size: 18px;
    width: 8em;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bolder;
    color: #fff;
    border: solid 2px white;   
}

.signup-content {
    color: #CCCFD4;
}

.signup-heading {
    font-size: 24px;
    font-weight: bold;
}


